<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student login</title>
</head>
<body>
    <form action="/user/student/login" method="post">
        <input type="text" name="username" id="username">
        <label for="username">User name</label>
        <input type="password" name="password" id="password">
        <label for="password">password</label>
        <button type="submit">Login</button>
    </form>
</body>
</html>