<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create teacher</title>
</head>
<body>
    <form action="/user/teacher" method="post">
        <input type="text" name="first_name" id="first_name" placeholder="first_name">
        <input type="text" name="middle_name" id="middle_name" placeholder="middle_name">

        <input type="text" name="last_name" id="last_name" placeholder="last_name">
        <input type="text" name="user_name" id="username" placeholder="username">

        <input type="password" name="password" id="password" placeholder="password">
        <button type="submit">create</button>
    </form>
</body>
</html>