.box{
    width: 1442px;
    height: 80px;
    background-color: rgba(203, 232, 241, 0.048);
    border-radius: 10px;
    opacity: 0.5px;
    border-color: #35F3FF;
    margin-top: -8px;
    margin-left: -8px;
}
.rectangle{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 75px;
    margin-top: -35px;
    margin-left: 10px;
    background-color: #e0e0e0;
    }

.logoimg{
    width: 60px;
    height: 70px;
    border-radius: 75px;
    margin-left: 2.5px;
    margin-top: 0px;
}

.title{
    position:absolute;
    font-size: 30px;
    font-style: bold;
    font-family: 'PT+Serif';
    color: rgb(0, 0, 0);
    margin-left:75px;
    margin-top: 2px;
}

body{
    background-image: url(../Images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.categories{
    position: absolute;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: -1150px;
    background-color: #e9ecf0d1;
    cursor: pointer;
    border-top-color: blue;
    border-right-color: rgba(0, 0, 255, 0.641);
    border-bottom-color: #FFA500;
    border-left-color: #ffa600a8;
}

.categories-text{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    margin-top: -12px;
    margin-left: 10px;
    font-size: 20px;
    color: black;
}

.drop-downimg{
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 60px;
    margin-top: 2px;
}

.search-bar{
    position: absolute;
    cursor:text;
    width: 450px;
    height: 50px;
    border-radius: 15px;
    margin-top: -60px;
    margin-left: 500px;
    background-color: whitesmoke;
    opacity: 0.75;
    border-color: #35F3FF;
}

.searchimg{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: -210px;
    margin-top: -8px;
}

.library{
    position: absolute;
    font-size: 20px;
    font-style: italic;
    font-weight: 150;
    font-family: "Inter";
    margin-top: -12px;
    margin-left: 50px;
    color: black;
}

.login{
    position: absolute;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    color: blue;
    text-decoration: none;
    margin-top: -45px;
    margin-left: 1030px;
}

.sign-up{
    position: absolute;
    width: 110px;
    height: 45px;
    background: linear-gradient(180deg, rgba(0, 0, 255, 0.917),#ffa60086);
    border-radius: 15px;
    opacity: 1;
    color:white;
    font-size: 20px;
    font-style: italic;
    font-family: serif ;
    letter-spacing: 1px;
    margin-top: -55px;
    margin-left: 1115px;
    cursor: pointer;
}

.langimg{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 1350px;
    margin-top: -40px;
}

.droplangimg{
    position: absolute;
    width: 10px;
    height: 10px;
    color: rgb(62, 152, 231);
    margin-top: -20px;
    margin-left: 1380px;
    cursor: alias;
}

.get-started{
    cursor: pointer;
    position: absolute;
    width: 260px;
    height: 80px;
    background: linear-gradient(180deg,rgba(0, 0, 255, 0.683),rgba(255, 255, 255, 0.802));
    border-radius: 20px;
    color: white;
    font-size: 30px;
    font-style: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    margin-top: 220px;
    margin-left: 190px;
   
}

.slogan-one{
    color: #E4FFFD;
    font-size: 32px;
    font-weight: 400;
    margin-top: 310px;
    margin-left: 120px;
    text-shadow: 8px 8px 20px black;
}

.information{
    position: absolute;
    color: black;
    font-size: 25px;
    font-weight: 400;
    font-style: bold;
    margin-top: -40px;
    margin-left: 150px;
    list-style-type: circle;
    line-break: auto;
    letter-spacing: 1px;
}

.name{
    position: absolute;
    color: #611b08e6;
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto';
    margin-top: -320px;
    margin-left: 900px;
    text-shadow: 2px 5px 8px rgb(255, 255, 255);
    transition: all 5s;
}

.name:active{
    transform: scale(0.45);
}

.slogan-two{
    position: absolute;
    color: white;
    font-size: 35px;
    font-weight: 250;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -250px;
    margin-left: 800px;
    transition: all 5s;
}

.top-categories{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Inter';
    color: #0d09e8;
    text-shadow: 2px 5px 20px rgb(3, 3, 79);
    margin-top: 130px;
    margin-left: 120px;
}

.top_categories{
    position: absolute;
    width: 1400px;
    height: 800px;
    background-color: #a1bbd2bf;
    margin-top: 200px;
    margin-left: 15px;
    border-radius: 20px;
}

.top-business{
    position: absolute;
    width: 320px;
    height: 300px;
    border-radius: 50px;
    margin-top: 10px;
}

.business{
    position: absolute;
    font-weight: 200;
    font-size: 50px;
    margin-top: 310px;
    margin-left: 30px;
    text-decoration: none;
    color: rgba(201, 13, 32, 0.861);
}

.top-art{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 420px;
}

.art{
    position: absolute;
    font-weight: 200;
    font-size: 50px;
    text-decoration: none;
    color: rgba(201, 13, 32, 0.861);
    margin-top: 310px;
    margin-left: 450px;
}

.top-graphics{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 840px;
}

.graphics{
    position: absolute;
    font-weight: 200;
    font-size: 50px;
    text-decoration: none;
    color: rgba(201, 13, 32, 0.861);
    margin-top: 310px;
    margin-left: 860px;
}

.top-IT{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-top: 400px;
    margin-left: 220px;
}

.IT{
    position: absolute;
    font-weight: 200;
    font-size: 50px;
    text-decoration: none;
    color: rgba(201, 13, 32, 0.861);
    margin-top: 700px;
    margin-left: 250px;
}

.top-programming{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-top: 400px;
    margin-left: 650px;
}

.programming{
    position: absolute;
    font-weight: 200;
    font-size: 50px;
    text-decoration: none;
    color: rgba(201, 13, 32, 0.861);
    margin-top: 700px;
    margin-left: 670px;
}

.about-us{
    position: absolute;
    top: 260%;
    margin-left: 48%;
    transform: translate(-50%, -50%);
    height: 650px;
    width: 1250px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
    display: flex;
}

.image-box{
    width: calc(50% + 50px);
    height: 100%;
    background-color: bisque;
    border-left: 100px solid white;
    border-bottom: 0px solid transparent;
}

.instructor-img{
    width: 95%;
    height: 95%;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 20px;
}

.instructor-header{
    font-size: 30px;
    font-weight: 600;
    color: blue;
}

.bold-a{
    font-size: 50px;
    line-break: 50px;
}

.apply-as-a-teacher{
    width: 150px;
    height: 50px;
    margin-top: 520px;
    margin-left: -100px;
    background-color: #00BFFF;
    border-top-color: #0000CD;
    border-right-color: #CD853F;
    border-bottom-color: #0000CD;
    border-left-color: #CD853F;
    border-radius: 20px;
}    

.apply{
    color: black;
    font-size: 20px;
    text-decoration:none;
}   

.about-us-content{
    width: calc(50% - 50px);
    height: 100%;
    background-color: white;
    padding: 0% 5%;
    line-height: 1.5em;
    font-size: 18px;
    text-align: justify;
}

.top_categories ul li{
    list-style-type: none;
}

.bottom-page ul li{
    list-style-type: none;
}

.bottom-page li{
    list-style-type: none;
}

.bottom-page{
    position: absolute;
    width: 1442px;
    height: 600px;
    margin-top: 1800px;
    margin-left: -10px;
    background-color: rgba(0, 0, 0, 0.836);
}

.bottom-horizontal-line{
    position: absolute;
    width: 100%;
    margin-top: 500px;
    border-color: #5fa6c4;
}

.bottom-vertical-line{
    position: absolute;
    border-left: 3px solid #5fa6c4;
    height: 430px;
    left: 35%;
    top: 5%;
}

.info2{
    position: absolute;
    font-size: 20px;
    color: #E4FFFD;
    margin-top: 320px;
    margin-left: 520px;
    line-break: 100px;
    letter-spacing: 2px;
}

.faq{
    position: absolute;
    font-weight: 300;
    font-size: 40px;
    font-family: 'Roboto';
    text-decoration-line: underline;
    color: #5fa6c4;
    margin-top: 25px;
    margin-left: 180px;
    letter-spacing: 2px;
}

.why-afro-wise{
    position: absolute;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Roboto';
    text-decoration-line: none;
    color: white;
    margin-top: 100px;
    margin-left: 110px;
    letter-spacing: 2px;
}

.search-for-a-job{
    position: absolute;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Roboto';
    text-decoration-line: none;
    color: white;
    margin-top: 140px;
    margin-left: 110px;
    letter-spacing: 2px;
}

.earn-through{
    position: absolute;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Roboto';
    text-decoration-line: none;
    color: white;
    margin-top: 180px;
    margin-left: 110px;
    letter-spacing: 2px;
}

.join-as-teacher{
    position: absolute;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Roboto';
    text-decoration-line: none;
    color: white;
    margin-top: 220px;
    margin-left: 110px;
    letter-spacing: 2px;
}

.partners{
    position: absolute;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Roboto';
    text-decoration-line: none;
    color: white;
    margin-top: 260px;
    margin-left: 110px;
    letter-spacing: 2px;
}

.developers-community{
    position: absolute;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Roboto';
    text-decoration-line: none;
    color: white;
    margin-top: 300px;
    margin-left: 110px;
    letter-spacing: 2px;
}

.report-problem{
    position: absolute;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Roboto';
    text-decoration-line: none;
    color: white;
    margin-top: 340px;
    margin-left: 110px;
    letter-spacing: 2px;
}

.terms-and-conditions{
    position: absolute;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Roboto';
    text-decoration-line: none;
    color: white;
    margin-top: 380px;
    margin-left: 110px;
    letter-spacing: 2px;
}

.slogan-three{
    position: absolute;
    font-size: 30px;
    font-family: 'Playfair Display';
    margin-top: 60px;
    margin-left: 540px;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
}

.rectangle-three{
    position: absolute;
    width: 380px;
    height: 380px;
    border-radius: 190px;
    left: 71%;
    top: 7%;
    background-color: #e0e0e06b;
}

.slogan-four{
    font-family: 'Playfair Display';
    font-size: 40px;
    margin-top: -180px;
    margin-left: 140px;
    font-weight: 500;
    color: #2DD1D1;
}

.telegram-img{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 520px;
    margin-left: 10px;
}

.email-img{
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 520px;
    margin-left: 90px;
}

.facebook-img{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 520px;
    margin-left: 170px;
}

.instagram-img{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 520px;
    margin-left: 250px;
}
.tiktok-img{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 520px;
    margin-left: 320px;
}

.linkedin-img{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 520px;
    margin-left: 390px;
}

.youtube-img{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 525px;
    margin-left: 470px;
}

.rectangle-two{
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    margin-top: 500px;
    margin-left: 1330px;
    background-color: #e0e0e06b;
}

.logoimg-two{
    position: relative;
    width: 65px;
    height: 75px;
    border-radius: 75px;
    margin-left: 5px;
    margin-top: 1px;
}

.model-intro{
    position: absolute;
    width: 380px;
    height: 380px;
    border-radius: 190px;
}